* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar header {
    text-align: center;
    color: black;
    margin: 10px;
    font-size: 25px;
}

#navbar {
    position: fixed;
    width: 300px;
    height: 100%;
    min-width: 290px;
    top: 0;
    left: 0;
    border-right: 2px solid gray;
}

#navbar>ul {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    border-top: 1px solid gray;
    position: relative;
    width: 100%;
}

#navbar>ul>li>a {
    display: block;
    text-decoration: none;
    color: #4d4e53;
    padding: 10px 30px;
    font-size: 20px;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    margin-bottom: 200px;
    /* background-color: lightblue; */
}

.main-section header {
    font-size: 30px;
    color: black;
    text-align: left;
    margin: 15px;
}

.main-section article {
    margin: 15px;
    padding-left: 15px;
    font-size: 18px;
    color: #4d4e53;
    line-height: 30px;
}

article p {
    padding: 5px;
}

#main-doc ul {
    margin-left: 60px;
}

#main-doc li {
    padding: 10px;
}

.main-section code {
    margin-left: 60px;
    font-size: 12px;
}



@media (min-width:769px) and (max-width:1199px) {
    .main-section {
        width: 675px;
    }
}